body{
    background-color: #00061a;
}

main{
    
    font-family: 'Oswald', 'Segoe UI', Tahoma,  Verdana, 'sans-serif';
}

#warn{
    color: red;
    margin-top: 120px;
    height: 1em;
}

#container{
    width : 60%;
    min-width: 480px;
    margin : auto;

}

button{
    /* width : 25%; */
    /* height : 36px; */
    height : 5vh;
    font-size : 18px;
    margin : 0;
}

.btns button{
    
    float : left;
}

.btns::after{ /* clearfix */
    content: "";
    clear: both;
    display: table; 
}

#res{
    background-color : lightgray;
    border : 2px solid darkgrey;
    height: 48px;
    font-size : 20px;
    line-height: 45px;
/*     position: relative;
    top:40%; */
    margin-top: 60px;
    padding: 0 5px;
    /* text-align: right; */

}

.sub-cont{
    width : 33.3%;
    float: left;
}


.nums{
    background-image : linear-gradient(to bottom right, lightblue,white);
    color : rgb(61, 42, 165);
    width : 33.3%;
}


#btn0{
    width : 100%;
}

.util{
    background-color : darkblue;
    color : white;
    width : 50%;
}

.oprs{
    background-color : black;
    color : cyan;
    width : 50%;
    font-size : 35px;
}

.time{
    background-image : linear-gradient(to bottom right, rgb(107, 171, 255),black);
    width : 50%;
    color: white;
    height: 10vh;
}
.btns span{
    font-size: 12px;
    font-style: italic;
}

.time#btnHour{
    width: 100%;
}

.nums:active,.util:active,.oprs:active,.time:active, .active{
    background-image: linear-gradient(to bottom right, orange,grey);    
}

#history-title{
    margin-top: 10vh;
    color: lightgrey;
}
#history{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
    
    padding: 3vh;
    line-height: 20px;
}